.Product-detail {
  display: flex;
  flex-direction: column;
}

.Product-detail-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1024px;
  margin: 40px 0;
  justify-content: space-around;
}

.Product-detail-view {
  display: flex;
  flex-direction: column;
}

.Product-detail-info {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  justify-content: center;
}

.Product-detail-name {
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
}

.Product-detail-producer {
  font-size: 30px;
  color: #43525A;
  line-height: 1.3em;
}

.Product-detail-factor {
  font-size: 20px;
  color: #43525A;
}

.Product-detail-form {
  font-size: 20px;
  color: #43525A;
  margin-bottom: 20px;
}

.Product-detail-price {
  font-size: 80px;
  color: #43525A;
  line-height: 1em;
  margin-bottom: 20px;
}

.Product-detail-range {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Product-detail-cart {
  height: 50px;
  width: 160px;
  color: white;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background-color: #859DA9;
}

.Product-detail-carousel {
  width: 490px;
}

.Product-detail-carousel-image {
  /*width: 100%;*/
}

.Product-detail-carousel-image img {
  height: 520px;
  margin: 0 auto;
  max-width: 100%;
}

.Product-detail-description {
  max-width: 1024px;
  margin: 0 auto;
  font-size: 24px;
  line-height: 1.3em;
  padding: 20px;
}


@media (max-width: 767px) {
  .Product-detail-picture {
    width: 100%;
  }

  .Product-detail-range {
    justify-content: center;
  }

  .Product-detail-description {
    font-size: 26px;
  }

  .Product-detail-carousel {
    width: 100vw;
    margin: 20px 0;
    max-height: 366px;
  }

  .Product-detail-carousel-image img {
    height: 366px;
    margin: 0 auto;
  }

  .Product-detail-price {
    align-self: center;
  }

  .Product-detail-cart {
    align-self: center;
  }
}
