.Product-detail {
  display: flex;
  flex-direction: column;
}

.Product-detail-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1024px;
  justify-content: space-around;
}

.Product-detail-view {
  display: flex;
  flex-direction: column;
}

.Product-detail-info {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  justify-content: center;
}

.Product-detail-pictures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.Product-detail-pictures-item {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.Product-detail-picture {
  width: 490px;
  height: 540px;
}

.Product-detail-picture-image {
  width: 100%;
}

.Product-detail-name {
  font-size: 60px;
  color: black;
  line-height: 1em;
  margin-bottom: 10px;
}

.Product-detail-producer {
  font-size: 32px;
  color: black;
  line-height: 1em;
  margin-bottom: 30px;
}

.Product-detail-price {
  font-size: 80px;
  color: black;
  line-height: 1em;
  margin-bottom: 30px;
}

.Product-detail-range {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Product-detail-cart {
  height: 50px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background-color: #859DA9;
}

.Product-detail-description {
  padding: 20px;
}

@media (max-width: 575px) {
  .Product-detail-picture {
    width: 100%;
  }

  .Product-detail-range {
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .Product-detail-picture {
    width: 100%;
  }

  .Product-detail-range {
    justify-content: center;
  }
}
