.Carousel {
  position: relative;
}

.Carousel-decal {
  position: absolute;
  right: 150px;
  height: 510px;
  top: -15px;
}

.Carousel-item {
  height: 366px;
}

.Carousel-item img {
  width: 100%;
}

.Carousel-slider {

}
