.Checkout {
  max-width: 600px;
  margin: 0 auto;
}

.Checkout__address {
  margin-top: 20px;
}

.Checkout__edit,
.Checkout__next {
  width: 180px;
  padding: 0 10px;
  margin-left: 40px;
}

.Checkout__button-toolbar {

}

@media (max-width: 767px) {
  .Checkout__button-toolbar {
    justify-content: center;
  }

  .Checkout__edit,
  .Checkout__next {
    margin: 5px;
  }
}
