.SaleProduct {
  display: flex;
  /*flex-wrap: wrap;*/
  flex-direction: row;
  max-width: 1024px;
  justify-content: flex-start;
}

.SaleProduct-info {
  display: flex;
  max-width: 320px;
  flex-direction: column;
  justify-content: center;
}

.SaleProduct-picture {
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.SaleProduct-name {
  font-size: 40px;
  color: black;
  line-height: 1.3em;
}

.SaleProduct-producer {
  font-size: 20px;
  color: black;
  line-height: 1em;
  margin-bottom: 30px;
}

.SaleProduct-price {
  font-size: 40px;
  color: black;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.SaleProduct-range {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.SaleProduct-cart {
  height: 50px;
  min-width: 200px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background-color: #859DA9;
}

@media (max-width: 575px) {
  .SaleProduct {
    justify-content: center;
  }

  .SaleProduct-picture {
    width: auto;
    height: 200px;
    cursor: pointer;
  }

  .SaleProduct-range {
    justify-content: center;
  }

  .SaleProduct-info {
    justify-content: flex-start;
  }

  .SaleProduct-cart {
    height: 50px;
    min-width: inherit;
  }
}

@media (max-width: 767px) {
  .SaleProduct {
    justify-content: center;
  }

  .SaleProduct-picture {
    width: auto;
    height: 200px;
    cursor: pointer;
  }

  .SaleProduct-range {
    justify-content: center;
  }

  .SaleProduct-info {
    justify-content: flex-start;
  }

  .SaleProduct-cart {
    height: 50px;
    min-width: inherit;
  }
}
