.SaleProduct {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  justify-content: flex-start;
}

.SaleProduct-info {
  display: flex;
  max-width: 320px;
  margin-left: 100px;
  flex-direction: column;
  justify-content: center;
}

.SaleProduct-picture {
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.SaleProduct-name {
  height: 52px;
  overflow: hidden;
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
}

.SaleProduct-producer {
  font-size: 30px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.SaleProduct-price {
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 20px;
}

.SaleProduct-range {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.SaleProduct-cart {
  height: 50px;
  min-width: 200px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  line-height: 50px;
  text-align: center;
  border-radius: 25px;
  cursor: pointer;
  background-color: #859DA9;
}



@media (max-width: 767px) {
  .SaleProduct {
    justify-content: center;
    flex-direction: column;
  }

  .SaleProduct-name{
    height: auto;
    overflow: visible;
    text-align: center;
  }

  .SaleProduct-range {
    justify-content: center;
  }

  .SaleProduct-info {
    align-items: center;
    margin-left: 0;
  }

  .SaleProduct-cart {
    padding: 0 20px;
    width: 200px;
  }
}
