.Sale-product {
  display: flex;
  flex-direction: row;
  max-width: 1024px;
  justify-content: flex-start;
}

.Sale-product__info {
  flex: 1;
  display: flex;
  margin-left: 100px;
  flex-direction: column;
  justify-content: center;
}

.Sale-product__picture {
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.Sale-product__name {
  height: 52px;
  overflow: hidden;
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
}

.Sale-product__producer {
  font-size: 30px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.Sale-product__price {
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 20px;
  flex: 1;
  display: flex;
}

.Sale-product__range {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


@media (max-width: 767px) {
  .Sale-product {
    justify-content: center;
    flex-direction: column;
  }

  .Sale-product__name{
    height: auto;
    overflow: visible;
    text-align: center;
  }

  .Sale-product__range {
    justify-content: center;
  }

  .Sale-product__price {
    text-align: center;
  }

  .Sale-product__info {
    align-items: center;
    margin-left: 0;
  }
}
