.CartItem {
  display: flex;
  flex-direction: row;
}

.CartItem-picture {
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.CartItem-describe {
  display: flex;
  flex-direction: column;
}

.CartItem-name {
  flex: 1;
  color: #43525A;
  font-size: 20px;
}

.CartItem-producer {
  flex: 1;
  color: #43525A;
  font-size: 16px;
}

.CartItem-amount {
  width: 200px;
}

.CartItem-delete {
  cursor: pointer;
}
