.Position {
  display: flex;
  flex-direction: row;
}

.Position__picture {
  width: 140px;
  height: 140px;
  cursor: pointer;
  flex-shrink: 0;
  margin-right: 20px;
}

.Position__describe {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Position__toolbar {
  display: flex;
  flex-direction: row;
}

.Position__name {
  color: #43525A;
  font-size: 25px;
  word-break: break-word;
  line-height: 1.3em;
}

.Position__producer {
  color: #43525A;
  font-size: 20px;
  line-height: 1.3em;
}

.Position__form {
  color: #43525A;
  font-size: 14px;
}

.Position__amount {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Position__body {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.Position__delete {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Position__price {
  width: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 32px;
  color: #43525A;
}

@media (max-width: 767px) {
  .Position {
    /*flex-wrap: wrap;*/
  }

  .Position__amount {
    margin-top: 20px;
    width: 100%;
    max-width: 160px;
  }

  .Position__describe {
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
  }

  .Position__toolbar {
    display: flex;
    flex-direction: column;
  }

  .Position__price {
    width: 100%;
    margin-top: 10px;
    max-width: 160px;
  }

  .Position__delete  {
    display: none;
  }

  .Position__picture {
    margin: 0;
  }

  .Position__body {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }
}
