.Payments {
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px 50px;
}

.Payments-image {
  height: auto;
  margin: 20px;
  float: left;
  max-width: 100%;
}

.Payments p {
  font-size: 20px;
  margin-bottom: 40px;
  display: block;
}

@media (max-width: 767px) {
  .Payments {
    padding: 20px;
  }

  .Payments-image {
    margin: 10px;
    float: left;
    max-width: 100%;
    height: auto;
    max-height: 80px;
  }

  .Payments p {
    display: block;
    font-size: 16px;
  }
}
