.Delivery {}

.Delivery__hr {
  flex:1;
  height: 2px;
  background-color: #859DA9;
}

.Delivery__footer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-bottom: 20px;
}

.Delivery__footer-row {
  font-size: 20px;
  padding: 0 42px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.Delivery__footer-value {
  font-size: 30px;
  width: 130px;
  color: #43525A;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Delivery__footer-label {
  width: 160px;
}

.Delivery__button-toolbar {

}

.Delivery__btn_edit,
.Delivery__btn_next {
  width: 180px;
  padding: 0 10px;
  margin-left: 40px;
}

@media (max-width: 767px) {
  .Delivery__button-toolbar {
    justify-content: center;
  }

  .Delivery__footer-row {
    padding: 0;
  }

  .Delivery__btn_edit,
  .Delivery__btn_next {
    margin: 5px;
  }
}
