.Table-Products {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Table-Products-body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.Table-Products-item {
  cursor: pointer;
}

.Table-Products-pagination {
  margin-bottom: 20px;
}
