@font-face {
  font-family: "Stem";
  font-weight: bold;
  src: url("/fonts/Stem-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: bold;
  font-style: italic;
  src: url("/fonts/Stem-BoldItalic.otf") format("opentype");
}


@font-face {
  font-family: "Stem";
  font-weight: normal;
  src: url("/fonts/Stem-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 500;
  src: url("/fonts/Stem-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 500;
  font-style: italic;
  src: url("/fonts/Stem-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 300;
  src: url("/fonts/Stem-Light.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 300;
  font-style: italic;
  src: url("/fonts/Stem-LightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 200;
  src: url("/fonts/Stem-ExtraLight.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 200;
  font-style: italic;
  src: url("/fonts/Stem-ExtraLightItalic.otf") format("opentype");
}

@font-face {
  font-family: "Stem";
  font-weight: 100;
  src: url("/fonts/Stem-Thin.otf") format("opentype");
}


html {
  font-family: Stem, -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}

body {
  font-family: Stem, -apple-system, "BlinkMacSystemFont", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
}

img {
  -webkit-user-drag: none;
}


.slick-slider .slick-dots li {
  width: 36px;
  height: 2px;
}

.slick-slider .slick-dots li button {
  width: 36px;
  height: 2px;
}

.slick-slider .slick-dots li button:before {
  width: 36px;
  height: 2px;
  font-size: 0;
  background-color: black;
}

.DayPicker-Day {
  padding: 0.6rem !important;
}

.form-group {
  margin-bottom: 0.5rem;
}

.padding-zero {
  padding: 0 !important;
}

.padding-vertical--five {
  padding: 0 5px !important;
}

.margin-zero {
  padding: 0 !important;
}

.row--small-padding {
  margin-right: -10px;
  margin-left: -10px;
}

.row--small-padding .col {
  padding-right: 10px;
  padding-left: 10px;
}

