.Address {

}

.Address__form {

}

.Address .form-group {

}

.Address .form-group.has-error {
}

.Address .form-group .help-block {
  font-size: 12px;
}

.Address .form-group.has-error .help-block {
  color: #e83c19
}

.Address .form-group.has-error .form-control {
  border-color: #e83c19 !important;
  color: #e83c19 !important;
  box-shadow: none !important;
}

.Address .form-group.has-error .form-control::placeholder {
  color: #e83c19;
}

.Address select.form-control:required:invalid {
  color: #637381;
}
.Address select.form-control option[value=""][disabled] {
  display: none;
}

.Address select.form-control,
.Address textarea.form-control,
.Address input[type="text"].form-control,
.Address input[type="email"].form-control,
.Address input[type="number"].form-control,
.Address input[type="tel"].form-control{
  border: 2px solid #859DA9;
  font-size: 16px;
  border-radius: 6px;
}


.Address input[type="number"]::-webkit-outer-spin-button,
.Address input[type="number"]::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.Address .form-control:focus {
  border-color: #454f5b !important;
  box-shadow: none;
}

.Address textarea.form-control {
  height: 100px;
}

.Address__btn_edit,
.Address__btn_next {
  width: 180px;
  padding: 0 10px;
  margin-left: 40px;
}

.Address__button-toolbar {

}

.Address__manual-address {
  text-align: right;
  line-height: 1.5;
  cursor: pointer;
}

@media (max-width: 767px) {
  .Address__form {
    overflow: hidden;
  }

  .Address__button-toolbar {
    justify-content: center;
  }

  .Address__btn_edit,
  .Address__btn_next {
    margin: 5px;
  }
}
