.Recommend {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 50px;
}

.Recommend__btn {
    background-image: url('/img/ic_skeleton.jpg');
    width: 100px;
    height: 100px;
    background-size: auto 100%;
    cursor: pointer;
}