.Landing {
  display: flex;
  flex-direction: column;
}

.Landing__carousel {
  margin-top: 30px;
}

.Landing__title {
  margin-top: 43px;
}

.Landing__table {
  max-width: 1024px;
  margin: 20px auto;
}

.Landing__intro {
  margin-top: 30px;
  margin-bottom: 30px;
}

.Landing__carousel-item {

}

.Landing__carousel-item img {
  width: 100%;
}


@media (max-width: 767px) {
  .Landing__table {

  }
}
