.Intro {
  background-image: url(/img/bg_page_decal.jpg);
  font-size: 22px;
  line-height: 1.2em;
  padding: 20px;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.Intro p {
  font-weight: 300;
}

.Into-paragraph {
  text-align: center;
  max-width: 800px;
}

.Intro-sign {
  text-align: right;
  width: 100%;
}

.Into-header {
}


@media (max-width: 767px) {
}
