.Intro {
  background-image: url(/img/bg_page_decal.jpg);
  font-size: 20px;
  line-height: 1.5em;
  padding: 20px;
  text-align: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 600px;
}

.Into-p {
  text-align: center;
  max-width: 800px;
}

.Intro-sign {
  text-align: right;
}


@media (max-width: 575px) {
  .Intro {
    background-image: none;
  }
}

@media (max-width: 767px) {
  .Intro {
    background-image: none;
  }
}
