.Review {
    margin: 0 auto;
    max-width: 1024px;
}

.Review__table {
    margin: 1rem 0.5rem;
}

.Review__button-toolbar {

}

.Review__btn_edit,
.Review__btn_next {
    width: 180px;
    padding: 0 10px;
    margin-left: 40px;
}


@media (max-width: 767px) {
    .Review {

    }

    .Review__button-toolbar {
        justify-content: center;
    }

    .Review__btn_edit,
    .Review__btn_next {
        margin: 5px;
    }
}

