.Review {
    margin: 0 auto;
    max-width: 1024px;
}

.Review__table {
    margin: 1rem 0;
}

.Review__table.table thead th {
    border-bottom: none;
}

.Review__table.table td {
    vertical-align: middle;
}

.Review__dict {

}

.Review__dict dt {
    font-weight: normal;
}

.Review__price {
    align-items: start;
    min-height: auto;
}

.Review__name {
    color: black;
    line-height: 1em;
}

.Review__sale {
    color: black !important;
    font-size: 1em !important;
}

.Review__address {

}

.Review__button-toolbar {

}

.Review__btn_edit,
.Review__btn_next {
    width: 180px;
    padding: 0 10px;
    margin-left: 40px;
}


@media (max-width: 767px) {
    .Review {

    }

    .Review__button-toolbar {
        justify-content: center;
    }

    .Review__btn_edit,
    .Review__btn_next {
        margin: 5px;
    }
}

