.SaleProducts {
  display: flex;
  flex-direction: column;
}

.SaleProducts-title {
  color: #43525A;
  font-size: 60px;
  margin-top: 30px;
  font-weight: bold;
  line-height: 1.5em;
  text-align: center;
}

.SaleProducts-table {
  width: 1024px;
  margin: 20px auto;
}

.SaleProducts-table-item {
  position: relative;
  margin: 40px 0;
}

.SaleProducts-table-item-product {

}

.SaleProducts-table-item-badge {
  position: absolute;
  top: -20px;
  left: 20px;
}

.SaleProducts-pagination {
  margin-bottom: 20px;
}

@media (max-width: 575px) {
  .SaleProducts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .SaleProducts-table-item-product {
    align-items: center;
  }

  .SaleProducts-table {
    width: 100%;
    margin: 0;
  }

  .SaleProducts-title {
    font-size: 50px;
  }
}

@media (max-width: 767px) {
  .SaleProducts {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .SaleProducts-table-item-product {
    align-items: center;
  }

  .SaleProducts-table {
    width: 100%;
    margin: 0;
  }

  .SaleProducts-title {
    font-size: 50px;
  }
}

