.Sales {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px;
}

.Sales__table {
  display: flex;
  flex-direction: column;
}

.Sales__table-item {
  position: relative;
  margin: 40px 0;
}

.Sales__table-item__product {

}

.Sales__table-item__badge {
  position: absolute;
  top: -20px;
  left: 20px;
}

.Sales__pagination {
  margin-bottom: 20px;
}

.Sales__info {

}

.Sales__info p {
  display: block;
  clear: both;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .Sales {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .Sales__table-item__product {
    align-items: center;
  }

  .Sales__table {
    width: 100%;
    margin: 0;
  }

  .Sales__title {
    font-size: 50px;
  }
}

