.Order-detail {
    padding: 10px;
    margin: 0 auto;
    max-width: 1024px;
}

.Order-detail__table {
    margin: 1rem 0;
}

.Order-detail__table.table thead th {
    border-bottom: none;
}

.Order-detail__table.table td {
    vertical-align: middle;
}

.Order-detail__dict {

}

.Order-detail__dict dt {
    font-weight: normal;
}

.Order-detail__price {
    align-items: start;
    min-height: auto;
}

.Order-detail__sale {
    color: black !important;
    font-size: 1em !important;
}

.Order-detail__address {

}

.Order-detail__button-toolbar {

}

.Order-detail__back {
    width: 180px;
    padding: 0 10px;
    margin-left: 40px;
}


@media (max-width: 767px) {
    .Order-detail {

    }

    .Order-detail__button-toolbar {
        justify-content: center;
    }

    .Order-detail__back {
        margin: 5px;
    }
}

