.Product-list {
  display: flex;
  width: 300px;
  align-items: center;
  flex-direction: column;
}

.Product-list__picture {
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.Product-list__name {
  height: 52px;
  color: #43525A;
  font-size: 40px;
  overflow: hidden;
  line-height: 1.3em;
}

.Product-list__producer {
  font-size: 30px;
  color: #43525A;
  line-height: 1.3em;
}

.Product-list__price {
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .Product-list__name{
    height: auto;
    overflow: visible;
    text-align: center;
  }
}




