.Product-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Product-list-picture {
  width: 270px;
  height: 300px;
  cursor: pointer;
}

.Product-list-name {
  color: #43525A;
  font-size: 40px;
  line-height: 1.3em;
}

.Product-list-producer {
  font-size: 30px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 30px;
}

.Product-list-price {
  font-size: 40px;
  color: #43525A;
  line-height: 1.3em;
  margin-bottom: 20px;
}


